<section class="product-tabs section-padding position-relative">
  <div class="container">
    <div class="section-title style-2 wow animate__animated animate__fadeIn">
      <h3>Popular Products</h3>
      <ul class="nav nav-tabs links" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="nav-tab-one"
            data-bs-toggle="tab"
            data-bs-target="#tab-one"
            type="button"
            role="tab"
            aria-controls="tab-one"
            aria-selected="true"
          >
            All
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="nav-tab-two"
            data-bs-toggle="tab"
            data-bs-target="#tab-two"
            type="button"
            role="tab"
            aria-controls="tab-two"
            aria-selected="false"
          >
            Eggs
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="nav-tab-three"
            data-bs-toggle="tab"
            data-bs-target="#tab-three"
            type="button"
            role="tab"
            aria-controls="tab-three"
            aria-selected="false"
          >
            Old Layers
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="nav-tab-four"
            data-bs-toggle="tab"
            data-bs-target="#tab-four"
            type="button"
            role="tab"
            aria-controls="tab-four"
            aria-selected="false"
          >
            Pet Foods
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="nav-tab-five"
            data-bs-toggle="tab"
            data-bs-target="#tab-five"
            type="button"
            role="tab"
            aria-controls="tab-five"
            aria-selected="false"
          >
            Chicks
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="nav-tab-six"
            data-bs-toggle="tab"
            data-bs-target="#tab-six"
            type="button"
            role="tab"
            aria-controls="tab-six"
            aria-selected="false"
          >
            Supplies
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="nav-tab-seven"
            data-bs-toggle="tab"
            data-bs-target="#tab-seven"
            type="button"
            role="tab"
            aria-controls="tab-seven"
            aria-selected="false"
          >
            Hot Deals
          </button>
        </li>
      </ul>
    </div>
    <div class="row product-grid-4">
      <div
        class="col-lg-1-5 col-md-4 col-12 col-sm-6"
        *ngFor="let product of allProducts"
      >
        <div class="product-cart-wrap mb-30">
          <div class="product-img-action-wrap">
            <div class="product-img product-img-zoom">
              <a [routerLink]="['/products', product?.id]">
                <img
                  class="default-img"
                  [src]="product?.thumbnail"
                  alt="Old Layer Chicken"
                />
                <img
                  class="hover-img"
                  src="assets/images/shop/Old_Layer.jpg"
                  alt="Old Layer Chicken"
                />
              </a>
            </div>
            <div class="product-action-1">
              <a
                aria-label="Add To Wishlist"
                class="action-btn"
                href="shop-wishlist.html"
                ><i class="fi-rs-heart"></i
              ></a>
              <a
                aria-label="Compare"
                class="action-btn"
                href="shop-compare.html"
                ><i class="fi-rs-shuffle"></i
              ></a>
              <a
                aria-label="Quick view"
                class="action-btn"
                data-bs-toggle="modal"
                data-bs-target="#quickViewModal"
                ><i class="fi-rs-eye"></i
              ></a>
            </div>
            <div
              class="product-badges product-badges-position product-badges-mrg"
            >
              <span class="sale">Sale</span>
            </div>
          </div>
          <div class="product-content-wrap">
            <div class="product-category">
              <a href="shop-grid-right.html">{{ product.category }}</a>
            </div>
            <h2>
              <a href="shop-product-right.html">{{ product.title }} </a>
            </h2>
            <div class="product-rate-cover">
              <div class="product-rate d-inline-block">
                <div class="product-rating" style="width: 80%"></div>
              </div>
              <span class="font-small ml-5 text-muted">
                {{ product.rating }}</span
              >
            </div>
            <div>
              <span class="font-small text-muted"
                >Location <a href="vendor-details-1.html">Ikorodu</a></span
              >
            </div>
            <div class="product-card-bottom">
              <div class="product-price">
                <span>N{{ product.price }}</span>
                <span class="old-price">N55.8</span>
              </div>
              <div class="add-cart">
                <a class="add" (click)="addToCart()"
                  ><i class="fi-rs-shopping-cart mr-5"></i>Add
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
